@model FortuneTellerWithDB.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Here it is!</h2>

<div>
    <h4>Your fortune</h4>
    <p>
        Alright, @ViewBag.FirstName @ViewBag.LastName, you will retire in @ViewBag.Retire with @ViewBag.Balance in the bank,
        you will drive a @ViewBag.Transportation and have a vacation home in @ViewBag.Vacation.
    </p>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
